.contacts-page {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
  margin-bottom: fluid(35, 25);

  @include tablet {
    grid-template-columns: 1fr;
  }

  &__card {
    display: flex;
    flex-direction: column;
    gap: 21px;
    padding: var(--card-padding);
    background-color: var(--color-white);
    border-radius: var(--border-radius);

    .breadcrumbs {
      margin-bottom: 0;
    }
  }

  &__list {
    margin: 0;
    padding: 0;
  }

  &__item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 8px;
    padding: 12px 16px;
    font-size: 18px;
    background-color: var(--color-background);
    border-radius: var(--border-radius);

    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }

  &__subtitle {
    font-size: 18px;
    font-weight: 500;
  }

  &__button {
    @include flex-center(true);

    width: 185px;
  }

  &__text {
    margin: 0;
    font-weight: 500;
    text-wrap: nowrap;

    &--address {
      text-wrap: wrap;
    }
  }

  &__link {
    color: var(--color-dark);
  }

  &__map {
    overflow: hidden;
    height: 100%;
    border-radius: var(--border-radius);

    @include tablet {
      height: 350px;
    }
  }

  &__icon {
    color: var(--color-red);
    fill: currentColor;

    @include square(24px);
  }

  &__title {
    display: inline-flex;
    align-items: center;
    gap: 8px;
  }
}
