.tag-tiles {
  padding-block: 30px;

  &__inner {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }

  &__link {
    padding: 8px 16px;
    font-weight: 500;
    color: var(--color-dark);
    background-color: var(--cardbg-gray);
    border-radius: var(--border-radius-button);
  }

  &__more-button {
    width: fit-content;
    color: #156b96;
    background: none;
    border: none;

    @include hover {
      color: var(--color-red);
    }
  }
}
