.possibilities {
  .default-card {
    flex-direction: row-reverse;
    align-items: center;
    column-gap: 24px;

    @include mobile-s {
      flex-direction: column-reverse;
    }
  }

  .default-card__media.possibilities__media {
    @include mobile-s {
      align-self: flex-start;
      margin-inline: 0 auto;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

    @include mobile {
      grid-template-columns: 1fr;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 24px;

    @include mobile-s {
      gap: 16px;
    }

    &--action {
      grid-column: -1 / 1;
      justify-content: space-between;
      padding: var(--card-padding);
      background-color: var(--color-white);
      border-radius: var(--border-radius);

      @include mobile {
        flex-direction: column;
        text-align: center;
      }
    }
  }

  &__media {
    @include square(120px);

    flex-shrink: 0;
    position: relative;

    @include mobile-s {
      @include square(90px);
    }
  }

  &__image {
    position: relative;
    z-index: 1;
  }

  &__red-rectangle {
    content: '';
    position: absolute;
    z-index: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 32px;
    background-color: var(--color-red);
    border-radius: var(--border-radius);

    @include mobile-s {
      height: 20px;
    }
  }

  &__header {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
    padding-bottom: 0;

    @include mobile-s {
      gap: 4px;
    }
  }

  &__action {
    &-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 8px;
      text-align: center;
    }

    &-title {
      @include fluid-text(24, 18);
    }

    &-text {
      font-size: 12px;
      font-weight: 500;
    }
  }
}
