.cart-button {
  position: relative;
  padding: 8px;
  background-color: var(--color-red);
  border: none;
  border-radius: 50%;

  svg {
    color: var(--color-white);
  }

  @include square(44px);

  &::after {
    content: attr(data-count);
    position: absolute;
    top: -8px;
    right: -8px;
    padding: 4px 6px;
    font-size: 14px;
    line-height: 1;
    color: var(--color-white);
    background-color: var(--color-dark);
    border-radius: var(--border-radius-button);
  }

  &[data-has-items='false'] {
    display: none;
  }

  //  &[data-has-items='false']::after {
  //    display: none;
  //  }
}
