.structure-action-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;
  width: 100%;
  height: 100%;
  padding: var(--card-padding);
  color: var(--color-white);
  background-color: var(--cardbg-dark);
  border-radius: var(--border-radius);

  @include mobile-s {
    gap: 16px;
  }

  &__header {
    display: flex;
    flex-direction: column;
    gap: 12px;
    font-weight: 700;

    @include mobile-s {
      gap: 8px;
    }
  }

  &__title {
    @include fluid-text(36, 24);
  }

  &__description {
    @include fluid-text(24, 18);
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &__action {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: auto;
    padding: 26px 20px;
    color: var(--color-dark);
    background-color: var(--color-white);
    border-radius: var(--border-radius);

    @include tablet {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    @include mobile-s {
      flex-direction: column;
      gap: 12px;
      padding: 16px;
    }

    &-wrapper {
      display: flex;
      flex-direction: column;
      gap: 12px;

      @include tablet {
        flex-direction: row;
        align-items: center;
      }
    }
  }

  &__icon {
    @include flex-center;
    @include square(40px);

    padding: 8px;
    color: var(--color-white);
    background-color: var(--color-red);
    border-radius: var(--border-radius);
  }

  &__note {
    @include fluid-text(18, 15);

    font-weight: 700;
  }
}
