.steps-action-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  width: 100%;
  height: 100%;
  padding: var(--card-padding);
  background-color: var(--cardbg-gray);
  border-radius: var(--border-radius);

  @include mobile {
    flex-direction: column;
    align-items: stretch;
    gap: 12px;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    gap: 24px;

    @include mobile {
      flex-direction: column;
      align-items: start;
      gap: 12px;
    }
  }

  &__header {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  &__title {
    color: var(--color-red);
  }

  &__description {
    font-weight: 700;
  }

  &__icon {
    @include flex-center;

    flex-shrink: 0;
    padding: 8px 20px;
    color: var(--color-white);
    background-color: var(--color-red);
    border-radius: var(--border-radius);

    @include mobile {
      @include square(50px);

      padding: 9px 10px;
    }
  }

  &__icon-image {
    @include square(60px);

    color: var(--color-white);
    fill: currentColor;

    @include mobile {
      @include square(40px);
    }
  }

  &__time {
    @include flex-center;

    flex-shrink: 0;
    gap: 12px;
    width: fit-content;
    height: fit-content;
    margin-block: auto;
    padding: 10px 20px;
    background-color: var(--color-white);
    border-radius: var(--border-radius);

    @include mobile {
      width: 100%;
      height: 100%;
      min-height: 54px;
    }
  }

  &__annotation {
    @include fluid-text(18, 15);

    font-weight: 700;
    text-wrap: nowrap;
  }

  &__time-icon {
    @include square(30px);

    color: var(--color-red);
    fill: currentColor;
  }
}
