.main-problem-card-action {
  &.default-card {
    height: 100%;
    padding-bottom: 0;
  }

  &__body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__media {
    flex-shrink: 0;
    display: flex;
    align-items: flex-end;

    @include laptop {
      flex-shrink: 1;
    }

    @include mobile-s {
      display: none;
    }
  }

  &__button {
    align-self: flex-start;
    margin-top: auto;
    margin-bottom: 24px;

    @include tablet {
      margin-bottom: 20px;
    }
  }
}
