.logo {
  display: flex;
  align-items: center;
  gap: 8px;
  max-width: 200px;
  font-weight: 700;
  text-decoration: none;
  color: var(--color-red);

  @include laptop {
    order: 1;
  }

  &__text {
    width: fit-content;
    line-height: 1;
  }
}
