.advantages-installation {
  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;

    @include tablet {
      grid-template-columns: repeat(2, 1fr);
    }

    @include mobile-s {
      grid-template-columns: 1fr;
    }
  }

  &__item {
    display: flex;

    &:nth-child(4) {
      .advantages-installation__card {
        overflow: hidden;
        height: 360px;
        padding-bottom: 0;
        color: var(--color-white);

        @include tablet {
          height: auto;
        }
      }
    }
  }

  &__card {
    flex: 1;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
    padding: 24px 18px;
    border-radius: var(--border-radius);
  }

  &__image {
    width: 266px;
    margin-inline: auto;

    &--phone {
      width: 166px;
    }
  }

  &__header {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}
