.problems {
  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

    @include tablet {
      grid-template-columns: 1fr;
    }
  }

  &__cta {
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    padding: var(--card-padding);
    background-color: var(--cardbg-gray);
    border-radius: var(--border-radius);

    @include mobile {
      flex-direction: column;
      text-align: center;
    }

    &-title {
      @include fluid-text(24, 18);
    }
  }
}
